


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer{
  text-align: center;
  background-color: rgb(193, 188, 188);
  font-size: 20px;
  font-weight: 500;
}